[2016-03-30 10:08] earthquakesan opened #1 "Move build.sh scripts to develop branch"
Put build-all.sh, build.sh scripts into dev branch.
Master branch should contain docker-compose.yml pointing to Dockerfiles

[2016-03-30 10:09] earthquakesan opened #2 "Use HDFS docker images from BDE project"
HDFS docker images are not ready yet.

[2016-03-30 10:11] earthquakesan opened #3 "Use Spark from https://github.com/big-data-europe/docker-spark"
Necessary features from uhopper spark image should be migrated into bde docker-spark image (make pull request).

[2016-03-31 21:26] earthquakesan opened #4 "Disable config check for Hue"
this hangs the container

[2016-05-02 10:04] sahil-sharma opened #5 "Hue docker image not availahle"
Greetings,

I tried to run <docker-compose up -d> and got an ERROR (hue image not found) and one another as:
Unsupported config option for hue service: 'container_name'
Might be because of non-availability of hue docker image.
Can you please redirect me from where I can pull hue image or if I get hue's official image then what corresponding changes do I need to do in the code to run the set-up?
Ki

[2016-05-17 22:59] DarkBlaez commented on #5
Make sure you execute the buildall.sh script. This script may fail with an error with hue image not being found. If that's the case go in to the huebuildenv folder, execute the build.sh script to build the image, then go back and resume the original script. Also note that the ant image build might fail since the ant version that is specified is 1.9.6. However, at the location specified that versio

[2016-06-01 17:46] earthquakesan commented on #5
@sahil-sharma @DarkBlaez
Sorry for late answer, all the images are now on the Docker hub, you don't need to build anything anymore. As you can see "master" branch does not include any Dockerfiles now. I will close the issue.

[2016-06-01 17:46] #5 closed

[2016-06-01 17:46] #4 closed

[2016-06-01 17:47] #2 closed

[2016-06-01 17:47] #1 closed

[2016-06-09 11:13] punit-naik opened #7 "Problem while running 'docker-compose up' command"
I was trying this repository and when I ran 'docker-compose up' command, it got stuck at:

`datanode1      | 16/06/09 11:12:49 WARN datanode.DataNode: Problem connecting to server: namenode:8020
datanode2      | 16/06/09 11:12:52 WARN datanode.DataNode: Problem connecting to server: namenode:8020
`
Can anyone help?

[2016-06-09 11:39] earthquakesan commented on #7
Hi @punit-naik!

This happens because docker-compose starts all the services together. Basically, datanode1/2 started before namenode. We are working on providing a way to ensure the starting order of the services. Right now, you can just restart datanode as follows (depends on which one is failing):
docker restart datanode1
docker restart datanode2

[2016-06-09 11:42] punit-naik commented on #7
Thanks a lot @earthquakesan ! :+1:

[2016-06-09 11:43] #7 closed

[2016-07-14 10:34] cgiraldo opened #9 "Error when accessing Hue UI"
I cannot access hue in http://docker-host-ip:8088/

First time I access I can create an account with username hue and a password, but after registering the user the web servers responds with this error:

 Traceback (most recent call last):

    return self.application(environ, start_response)
  File "/opt/hue/build/env/lib/python2.7/site-packages/Django-1.6.10-py2.7.egg/django/core/handlers/wsgi.p

[2016-07-14 11:18] earthquakesan commented on #9
@cgiraldo hi!
I disabled 'about' page in the hue configuration as it was freezing the whole application.
You have to specify the /home path to access hue, i.e. open
http://docker-host-ip:8088/home

[2016-07-14 11:31] cgiraldo commented on #9
That solves my problem. Thank you!

[2016-07-14 11:31] #9 closed

[2016-07-14 11:31] cgiraldo commented on #9
That solves my problem. Thank you

[2016-07-23 00:11] oscarcastaneda opened #11 "Spark notebook not working on AWS EMR"
After starting the HDFS/Spark Workbench, and opening up any notebook on Spark Notebook, I get the following error:

"Dead Kernel: The kernel has died, and the automatic restart has failed. It is possible the kernel cannot be restarted. If you are not able to restart the kernel, you will still be able to save the notebook, but running code will no longer work until the notebook is reopened."

Selec

[2016-07-26 11:25] earthquakesan commented on #11
@oscarcastaneda sorry for late answer, can you please provide config you are using for AWS? Are you using the same docker-compose.yml or customize it somehow?

[2016-07-29 15:53] snowf0x opened #12 "Hue is not able to login"
With master branch code, Hue throws exception when login with user 'hue', as stated in here http://www.big-data-europe.eu/scalable-sparkhdfs-workbench-using-docker/

namenode          | 16/07/29 15:45:04 WARN security.UserGroupInformation: No groups available for user hue
namenode          | 16/07/29 15:45:04 WARN security.UserGroupInformation: No groups available for user hue
namenode          |

[2016-08-08 09:40] earthquakesan commented on #12
@snowf0x sorry for late response, was on vacations -)

The last line fails, not the first one (the first one just gives you a warning). You need to specifically open /home path like:
[code]
Please refer to this issue: https://github.com/big-data-europe/docker-hadoop-spark-workbench/issues/9

[2016-08-17 05:27] yuandra opened #14 "TaskSchedulerImpl: Initial job has not accepted any resources"
Tried running both docker-compose-hive.yml and docker-compose.yml on a 4 core 8gb VM running Ubuntu 14.
- Spark notebook always waiting for kernel to start
- Tried connecting to spark instance via a scala program using a spark driver (scala 2.10, spark 1.6.2) in the local machine (need to open port 7077 in the docker.yml file first).
  Connected successfully, worker is detected on the spark UI (po

[2016-08-18 13:17] earthquakesan commented on #14
Hi @yuandra!

Thanks for the input! First of all I apologize, docker-compose-hive.yml is not really tested thoroughly. I am working on Hive-enabled version, for now please use docker-compose.yml.

Can you provide me more details on how you tried to launch your spark app?
Also, there was a problem for submitting Spark applications/uploading HDFS files when forwarding the ports, because spark-master

[2016-08-18 13:19] #3 closed

[2016-08-18 17:09] yuandra commented on #14
hi @earthquakesan ! Thanks for the reply !

I'll try the makefile after this - still running some test on the docker images.

So I tried deploying it both on local and on a VM, both using docker-compose.yml with port 7070 open

On local (running on a 4 core / 16 gb)
- can access spark ui, hue, hadoop ui, and notebook.  Tried notebook core/simple-spark and it run fine
- can connect to spark using a

[2016-10-10 16:01] prof-schacht opened #15 "General Questions - Multihost, Spark Version and Apache Zeppelin"
Hi

I have only some general questions. How to you handle the docker containers on multiple physical hosts?

Is it possible to extend the example to SPARK Version 2.0 and add also Apache Zeppelin as Notebook Driver to this repo?

BR

[2016-10-11 09:15] earthquakesan commented on #15
Hi @prof-schacht,

for multiple physical hosts see [overlay networking in docker](https://docs.docker.com/engine/userguide/networking/get-started-overlay/)

spark 2.0.0 with hive is available in [our repo](https://github.com/big-data-europe/docker-spark), essentially you just need to change version number. You can see example setup of hadoop, spark + hive used for sqlspark application [here](https

[2016-10-12 22:36] brett--anderson opened #16 "Unable to view worker details or Jobs"
I recently ran the docker stack on my dev machine (OSX 10.11.5 (15F34)) running Docker Native (Version 1.12.1 (build: 12133)).

I've tried some of the notebooks in the 'core' folder and these appear to work.

I'm now trying to run the Twitter Stream example which appears to be running a Spark Job, but I'm not seeing any output from the unordered list or geo widgets. In fact, they don't seem to be

[2016-10-13 00:54] brett--anderson commented on #16
The widgets not displaying seems to be a Notebook issue, as discussed here: https://github.com/andypetrella/spark-notebook/issues/730

But the primary issues around accessing the web interfaces still stands.

[2016-10-13 09:55] #12 closed

[2016-10-13 10:04] earthquakesan commented on #16
Hi @brett--anderson!

Networking happens inside its own network which is 192.168.0.0/24 in your case (on linux the network is different). Components can talk to each other on the server side just fine. The problem is that this network is not exposed to your machine.
You figured the work around: you will need to expose the ports directly. However, in the GUIs components will inject internal IP addr

[2016-10-13 18:50] brett--anderson commented on #16
Awesome, thanks for your help on that! Adding 4040 to the spark-notebook entity in the compose file also fixed the issue I was having when trying to load the SparkUI from inside the Spark Notebook.

[2016-10-13 18:50] #16 closed

[2016-10-21 23:56] earthquakesan commented on #15
Hi @prof-schacht,

For running a container on a particular node read on general tools docker swarm provides in [this article](https://docs.docker.com/swarm/scheduler/filter/) and how to use compose to use them in [this article](https://docs.docker.com/compose/swarm/). For instance, if you want to run a container on a node with "frontend" label (one of the docker hosts should have docker daemon wit

[2016-11-29 15:35] Miguel-Alonso opened #17 "Connect spark-notebook to spark cluster"
Hi,

I'm trying to connect spark notebook to the spark cluster. By default it runs the notebooks in a local spark (the notebook jobs never appear in the spark master page) and when I try to connect it to the cluster created by the docker compose file the kernel dies.

Following spark-notebook's documentation on this, I'm adding the following to the notebook's metadata:
[code]
Is there anything els

[2016-11-30 14:10] earthquakesan commented on #17
Hi @Miguel-Alonso!

I've looked into the issue. The problem was the mismatch between Java versions in spark-notebook and spark. I migrated all the images to Java 8. You can find new docker-compose file in the root of the repo:
https://github.com/big-data-europe/docker-hadoop-spark-workbench/blob/master/docker-compose-java8.yml

If it does not fix the issue for you, feel free to reopen. -)

[2016-11-30 14:10] #17 closed

[2016-11-30 14:12] earthquakesan commented on #14
@yuandra hi again!

I migrated all the images to Java 8. Also there is a new Spark 2.0.0 there. Can you please check if issue still persists? Use the following docker-compose file:
https://github.com/big-data-europe/docker-hadoop-spark-workbench/blob/master/docker-compose-java8.yml

[2016-11-30 14:13] #11 closed

[2016-12-04 18:22] Miguel-Alonso commented on #17
Hi @earthquakesan, thanks for that!

One last (small) detail: The docker compose file is looking for a missing hadoop-hive.env file. I'm just using the normal hadoop.env and, apart from an error in postgreSql, everything else seems to be running ok.

Thanks!

[2016-12-04 18:24] earthquakesan commented on #17
Hi @Miguel-Alonso!

Oops, forgot to push. It's there now. -)

[2016-12-05 04:53] DrSnowbird commented on #15
Hi,
Regarding the integration with Zeppelin (either server or docker) integration, I am trying to have Zeppelin to access the Spark Master via the port 7077 expose in docker-compose*.yml. Could I suggest that you change with one more line in expose the port so that I I don't have to do it in my Fork.
  spark-master:
    image: earthquakesan/hadoop-spark-master:1.0.0
    hostname: spark-master

[2016-12-05 20:38] earthquakesan commented on #15
Hi Ray! @DrSnowbird

Done. Please use docker-compose-java8.yml as it contains the last version of hadoop/spark and java 8 jdk. If your Zeppelin docker image is free to share, please link. -)

Kind regards,
Ivan.

[2016-12-09 14:38] DrSnowbird commented on #15
I am still working how to adopt your ways to set up Zeppelin. Currently, for host-based setup, I used REST API to pull information for all the clients configuration for Zeppelin using Ambari. But, there is no Ambari in the docker-based setup of yours. So, I have to adapt to your ways to setup Zeppelin client. And, I will share the link once I done it.

[2017-02-25 15:20] agmistry opened #18 "How to enable Pyspark in Jupyter Notebook"
I am a relative nubie to Docker containers and have found your project very useful. I want to develop Python using SparkSQL Notebooks and unfortunately the Notebook in this bundle only supports Scala. How can I modify this build to incorporate support for Python notebooks and SparkSQL?

Any assistance would be appreciated

Regards

Anant

[2017-02-28 20:34] earthquakesan commented on #18
Spark notebook supports only Scala --> https://github.com/andypetrella/spark-notebook

What you need to do is to add Jupyter service (it is already packed into the docker image as I can see https://github.com/jupyter/docker-stacks/tree/master/all-spark-notebook) into docker-compose.yml and figure out how to connect it to HDFS/Spark.

[2017-03-07 14:57] prashantladha opened #19 "Steps compatible to Windows?"
Hi,
Are these below steps compatible on Windows Dockers?

    docker network create hadoop
    docker-compose up -d
    docker-compose scale spark-worker=3

Few issues that I observed were:
1. The docker-compose scale did not work for me unless I killed the Docker containers and restart them.
2. The "data" directory was not created automatically.
3. below command did not work, when executed from d

[2017-03-13 22:34] earthquakesan commented on #19
Sorry, got no windows machine to try it out =\

Can you please contribute a separate branch if you figure out how to run it on windows?

[2017-03-25 13:51] marcino239 opened #20 "Broken hadoop package - missing GLIBC_2.14"
`hadoop fs -ls /
`
shows:
`17/03/25 13:49:32 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
`

Looks like problem is related to missing GLIBC library:

[code]

[2017-03-28 12:16] earthquakesan commented on #20
Hi @marcino239!

Can you please clarify which docker-compose you used (i.e. which version of hadoop docker image).

[2017-03-30 22:42] marcino239 commented on #20
Hi @earthquakesan , I'm using latest available in git with hash: 52c0bdf

[2017-04-19 11:42] earthquakesan commented on #18
@agmistry did you succeed in integration python notebooks?

[2017-04-19 11:43] earthquakesan commented on #15
@DrSnowbird hi! Any updates on Zeppelin integration?

[2017-04-19 11:46] earthquakesan commented on #14
@yuandra did you manage to solve the issue? I would recommend using docker-spark dockers from this repo for production setup: https://github.com/big-data-europe/docker-spark Feel free to reopen issue on that repo.

[2017-04-19 11:46] #14 closed

[2017-04-19 12:27] earthquakesan commented on #19
@prashantladha hi! Any success running the workbench on windows?

[2017-04-19 12:31] earthquakesan commented on #20
@marcino239 Hi!

I've updated Hadoop and Spark, the issue is not there anymore. If you still have problem, feel free to reopen issue.
[code]

[2017-04-19 12:31] #20 closed

[2017-04-27 18:39] nicolasjustSnoopConsulting opened #21 "Hue is not working"
Hi
I only execute "docker-compose up -d". I do not make any changes
The Hue (HDFS Filebrowser) is not working. After login I get this error

![image](https://cloud.githubusercontent.com/assets/8170600/25498451/5f77b952-2b5e-11e7-9a37-5effb960d557.png)

How can i solve it?

Thanks

[2017-04-27 19:42] earthquakesan commented on #21
This is known problem, the solution is in the README.md file:
[code]

[2017-04-27 19:42] #21 closed

[2017-05-13 20:55] DrSnowbird commented on #15
Hi Ivan,
I am on and off working on Zeppelin Integration since my day job is taking a lot of my energy.Currently, I am in the final stage of fixing the version incompatibility of Java object serial version between Zeppelin, Spark/Scalar.Once I overcome that I will send you the request for figuring out how to deploy this additional module. Cheers,- Ray==
As you can see that I am working on my git b

[2017-05-13 21:09] earthquakesan commented on #15
@DrSnowbird

Hi Ray,

I am very sorry to spoil all the fun:
https://github.com/big-data-europe/docker-zeppelin
And here is an example with external jar which uses it:
https://github.com/SANSA-Stack/SANSA-Notebooks

Please, take a look. You can proceed with your integration and then we can merge it into a better one.

Enjoy the weekend, Ivan.

[2017-05-14 06:02] DrSnowbird commented on #15
Hi Ivan,
I was able to overcome the object serial version conflict and now it is running ok. And, I tested Spark notebooks in Zeppelin Interpreters spark, Python3 (including matplotlib), they are working correctly. I will check the rest Zeppelin interpreters too tomorrow.
I will run more test and polish more tomorrow and then I will check in the code for merging or something to merge with yours. 

[2017-05-15 05:00] DrSnowbird commented on #15
Hi Ivan,
 I checked in into my github for the Zeppelin that I am working on.It is just the initial working version and it can be further improved and simplified as your ways is quite simple.But, I want to make it parameterized all the way from host environment - still not fully parameterized to the host env  yet.
For you now, you can check it out both Docker hub and Git hub.
- Ray
----------------

[2017-05-15 13:51] DrSnowbird commented on #15
Ivan,
I clean up the directory and create a new github repo to just focus at zeppelin and pointing to your BDE2020 big project git hub.
- Ray-----
So, as for now, you can just look at my git hub, DrSnowbird/docker-spark-bde2020-zeppelin

And, docker hub buildopenkbs/docker-spark-bde2020-zeppelin

[2017-05-19 07:08] jrabary opened #23 "Error when accessing hdfs file from remote spark driver"
Thank you for sharing the result of your project. I'm trying play the hadoop spark workbench and I got some trouble when I want to access the data stored in the hdfs file.

My setting is as follow:
- I set up the hadoop-spark-workbench in a physical server inside our internal network.
- I run a remote spark-shell from my laptop by specifying the master address.

When I try to load a data on the hd

[2017-05-19 08:17] jrabary commented on #23
Finally get it work. I forwarded the wrong port!

[2017-05-19 08:17] #23 closed

[2017-06-02 08:30] VijayQin opened #24 "Binding 8081 port error when I execute scale up"
➜  docker-hadoop-spark-workbench git:(master) sudo docker-compose up -d
Creating network "dockerhadoopsparkworkbench_default" with the default driver
Creating spark-notebook ...
Creating spark-master ...
Creating dockerhadoopsparkworkbench_hue_1 ...
Creating namenode ...
Creating spark-notebook
Creating spark-master
Creating dockerhadoopsparkworkbench_hue_1
Creating namenode ... done
Creating dock

[2017-06-02 10:49] fdiblen commented on #24
I have just created a new pull request to solve this issue. Please have a look.

[2017-06-02 15:54] VijayQin commented on #24
Yes, it works by remove the port 8081 using from spark-work.

And it seems better after adding load blance component into the project.

________________________________
发件人: Faruk D. <notifications@github.com>
发送时间: 2017年6月2日 18:49
收件人: big-data-europe/docker-hadoop-spark-workbench
抄送: Vijay Qin; Author
主题: Re: [big-data-europe/docker-hadoop-spark-workbench] Binding 8081 port error when I execute

[2017-06-25 21:05] davideberdin opened #26 "Failed on Connection Exception"
I am facing an issue where I am not able to let my Job to connect to the HDFS. Basically what I am trying to do is to run a simple Hadoop Job against the docker container. I follow the README and I was able to visualise all the UIs as described on the address of my docker machine (http://192.168.99.100:port). Everything works as expected but when I try to run the following Java code
[code]
I get t

[2017-06-27 08:06] earthquakesan commented on #26
@davideberdin hi!

In case you are using this command:
[code]
then you are running [docker-compose.yml](https://github.com/big-data-europe/docker-hadoop-spark-workbench/blob/master/docker-compose.yml). In this docker-compose, the ports 8020 (9000) are not exposed. To make Hadoop available to the outside you need to add two port bindings to the "namenode" service as follows:
[code]

[2017-06-27 10:03] davideberdin commented on #26
Awesome! It worked like a charm! Thanks for you help @earthquakesan :)

[2017-06-27 10:03] #26 closed

[2017-07-05 14:55] georgiosgeorgiadis opened #27 "MapReduce jobs causes Namenode to stop"
Hi,
we are facing the problem that when we are running our MapReduce jobs, the Namenode crushes, therefore our jobs cannot be completed. We have kept the ```hadoop.env``` as is here from this repository and the only thing that we changed was to expose the port 9000 in the ```docker-compose.yml``` so we can run our jobs.

We tested the same code in the AWS EMR in production as well as in our local

[2017-07-06 08:08] earthquakesan commented on #27
Hi @georgiosgeorgiadis!

Can you provide me with the minimal test case which cause this error? E.g. simple map reduce job. And the way how you submit it to the cluster.

[2017-07-06 08:40] georgiosgeorgiadis commented on #27
Hi @earthquakesan ,

thank you for your quick response.

This is how I setup the job and run it:
[code]

The Configurator:
[code]
The MatchHourlyMapper:
[code]
The MatchHourlyReducer:
[code]

I run the job from a org.quarz.job which is briefly outlined below:
[code]

Thanks

[2017-07-15 10:37] ashemery opened #28 "Copying files to HDFS"
Hello Ivan,

First, thanks for your response on Twitter, and for the whole project.

The issues, I'm facing is that I went through your Blog post here:
https://medium.com/@ivanermilov/scalable-spark-hdfs-setup-using-docker-2fd0ffa1d6bf

I've created the network, and then used the commands in this repo to start my cluster. CMDs used:
[code]

Now all is working, and I can see that by checking the in

[2017-07-15 11:03] ashemery commented on #28
Another problem that I faced was this:
`_COPYING_ could only be replicated to 0 nodes instead of minReplication (=1).  There are 0 datanode(s) running and no node(s) are excluded in this operation`

[2017-07-15 11:41] earthquakesan commented on #28
Hi @ashemery!

thanks for interest in the project! -)

I've written that blog post a while ago and a lot of things are outdated there. For the simplicity let's use docker-compose.yml without Hive. You can switch to the Hive one later in case if you need it.

After you clone the repo, run the docker-compose:
[code]
You will have a bunch of log output in your terminal. When it is stopped, go to http

[2017-07-15 12:41] ashemery commented on #28
Hello Ivan,

Thank you so much for your time writing this for me. I tested all of options, and they are all running successfully.

But now I'm on another issue. I tried to follow your steps to run the .csv file, but I'm getting issues. Do you want me to open another ticket or something?

BTW, is there a way to communicate with you (Email, Skype, DM via Twitter, etc)?

Thanks again for your help, t

[2017-07-16 07:59] earthquakesan commented on #28
@ashemery please open another ticket. It's better to keep communication open in case if someone got the same questions.

[2017-07-16 07:59] #28 closed

[2017-07-19 17:22] earthquakesan commented on #27
Hi @georgiosgeorgiadis!

I had time to look into your issue and found out that configuration was not completely correct. I've updated hadoop docker images, you can find them here:
https://github.com/big-data-europe/docker-hadoop/tree/1.2.0-hadoop2.8-java8

To run the MapReduce cluster:
[code]

Notice: You might need to restart namenode as it does not see datanode if it runs before it. In case you

[2017-07-19 18:01] #27 closed

[2017-07-20 07:33] georgiosgeorgiadis commented on #27
Thank you for your time @earthquakesan .

I will try it out today

[2017-07-24 11:39] antonkulaga opened #29 "latest version of hue and hue.ini in volume"
Current hue version has a lot of issues for me: it is outdated and partially broken. In our lab we have our own docker-compose configuration that uses latest hue 4. I am ready to contribute by updating hue here but for this, I will probably need to include hue.ini file in hue volume.

[2017-07-24 13:30] earthquakesan commented on #29
Hi @antonkulaga!
Can you please create pull request, we can discuss it then. Thanks a lot!

[2017-07-24 17:02] antonkulaga commented on #29
I put it here https://github.com/big-data-europe/docker-hadoop-spark-workbench/pull/30
I used default gethue/hue repo there, but if needed I can make a PR to your hue container (that is quite bugy now) to update it to the latest version.

[2017-09-05 09:55] nirobayo opened #31 "Any way to run this in swarm mode?"
Hi,

This configuration and images worked very well for me. But still, being only able to deploy on one physical machine is an issue. The docker-compose files are version 2, not compatible with swarm mode. Is there something I am missing out, or is this meant to be used on only one physical machine?

Thanks in advance!

P.D.: For scaling I am using pull request #25

[2017-09-25 09:09] earthquakesan commented on #31
Hi @nirobayo!

Sure there is: https://github.com/big-data-europe/docker-hadoop-spark-workbench/tree/master/swarm

The setup I created will deploy datanode on each of the swarm nodes (mode: global) and only 1 namenode. You can also use constraints/affinity to modify the deployment schema.

P.S. I am not sure if scaling is really important in case of hadoop/spark as there is no reason to run more th

[2017-09-25 10:14] nirobayo commented on #31
Thanks. You even made a new configuration! Still, I am having issues running it.

I activated swarm mode and added a second machine _worker1_ to it. When deploying, everything on the local machine goes fine, but it errors on _worker1_ (trying to restart it indefinitely). The description is quite short:

`standard_init_linux_go:187: exec user process caused "no such file or directory"`

I am suspec

[2017-09-25 11:47] earthquakesan commented on #31
@nirobayo can you create a snippet with a full log for both spark-master and spark-worker.

Environment file should be no problem, it is evaluated by swarm manager and then injected into all of the images. I have tested the setup with 3 ubuntu boxes (using kvm for virtualization) and docker 17.06, got no problem running it.

[2017-09-26 08:28] nirobayo commented on #31
@earthquakesan Wow, I did not explain myself completely fine. I never started Spark. The error ocurred while starting Hadoop, and only on the datanode container not deployed on the swarm manager.

I am trying to get a log, but found no way to do it (_hadoop logs_ gives the message I send in the previous post). I tried to start a datanode locally within _worker1_ with success, so something must hav

[2017-09-26 15:01] nirobayo commented on #31
I am getting something like this on my worker node daemon:

![error](https://user-images.githubusercontent.com/12829700/30865933-37995d0e-a2d8-11e7-8732-8bd164b916af.PNG)

I've checked that network connectivity is up on ports 2377 tcp, 7946 tcp/udp, 4789 udp and also protocol esp, bidirectional, of course. Also the network appears on _worker1_ once deploy starts (and when removed is removed from t

[2017-09-26 21:06] earthquakesan commented on #31
@nirobayo here seems to be related issue: https://github.com/moby/moby/issues/31698

[2017-10-02 07:09] nirobayo commented on #31
@earthquakesan Ok, I found out what the issue was. I'm not planning to ever use CentOS as a Docker host again. I'm with Debian now.
It's working, but I'm not able to use the web UIs. I can't access them from the host machine. Anyways, I think the configuration is fine. I'm closing this as the main issue is solved, we can comment further anyways.

[2017-10-02 07:09] #31 closed

[2017-10-03 08:42] JMLamodiere commented on #24
FYI, when https://github.com/docker/compose/issues/5230 is fixed, there will be another solution : using the port range notation : `8081-8090:8081` . BUT the choosen range would put a max limit on the scaling. Ex : `8081-8090` means `spark-worker=10` max.

#25 is not affected by this limitation.

[2017-10-15 01:17] eschizoid opened #32 "Override SPARK_MASTER and SPARK_MASTER_PORT env variables"
Would it be possible to override `SPARK_MASTER` and `SPARK_MASTER_PORT` env variables by just defining them in `hadoop-hive.env` file?

[2017-10-16 13:52] earthquakesan commented on #32
As long as you include env file in the docker-compose as:
[code]
You can override any of the env vars.

[2017-10-16 21:30] eschizoid commented on #32
feel free to close the ticket

[2017-10-17 09:10] #32 closed

[2017-10-17 09:23] #19 closed

[2017-10-17 09:23] #18 closed

[2017-10-23 07:32] akinmail opened #35 "How do i get my hadoop home directory?"
When i start the docker container, where will my hadoop home directory be?. What will be the path of the hadoop directory. I want to point sqoop to it and sqoop needs to know the hadoop directory of the hadoop installation on my system

[2017-10-23 11:18] earthquakesan commented on #35
Hi @akinmail!

The data is bound to docker volumes and can be found in your local folder:
[code]
Basically it is in the ./data folder (relative to the folder where you run docker-compose up). Read [docker-compose.yml](https://github.com/big-data-europe/docker-hadoop-spark-workbench/blob/master/docker-compose.yml) for more details.

If you mean home folder in HDFS filesystem, then you will need to

[2017-11-03 09:10] #35 closed

[2017-11-05 21:30] akinmail commented on #35
No i meant, what folder on the base container in which hadoop was extracted to(installed to)? Anyway, i followed the dependency of the dockerfile up till the base container and i was able to find (this){https://hub.docker.com/r/bde2020/hadoop-base/~/dockerfile/}. The hadoop is downloaded and extracted into the opt folder. I assume this will be the HADOOP_HOME

[2017-11-05 21:32] earthquakesan commented on #35
@akinmail all the Dockerfiles are in this [repo](https://github.com/big-data-europe/docker-hadoop). Check the "base" folder in particular.

[2017-11-05 21:41] akinmail commented on #35
There this env exposed in that same file named HADOOP_PREFIX. i believe this is what i was searching for

[2017-11-05 21:49] earthquakesan commented on #35
You can see that HADOOP_PREFIX points to [hadoop installation folder](https://github.com/big-data-europe/docker-hadoop/blob/9af1f86bdbd0c0a8c3a9511820ee2f1c5386be53/base/Dockerfile#L62)

P.S. Hint: git branches correspond to docker hub tags

[2017-11-06 21:30] Henrilin28 opened #36 "sparkContext not found in spark notebook"
I tried to start the script in core/simple but the error shows that
`<console>:15: error: not found: value sparkContext
       sparkContext.getConf.toDebugString
       ^
<console>:12: error: not found: value globalScope
       globalScope.sparkContext.setJobGroup("cell-958C08DD7D9E4D528E649879CA2912E4", "run-1510003533026: sparkContext.getConf.toDebugString")
       ^
`
I wondering what happens?

[2017-11-23 08:45] wanly3643 opened #37 "ClassCastException while running example from BDE2020 blog"
I downloaded the data file and run the code as https://www.big-data-europe.eu/scalable-sparkhdfs-workbench-using-docker/

The code is "`sc.textFile("/user/wanglei/vannbehandlingsanlegg.csv").count()`", but I got an Exception like this:

org.apache.spark.SparkException: Job aborted due to stage failure: Task 1 in stage 1.0 failed 4 times, most recent failure: Lost task 1.3 in stage 1.0 (TID 10, 172

[2017-11-28 02:06] wanly3643 commented on #37
The cause is found that the images of spark-worker/spark-master are with Spark 2.1.2 but spark-notebook is with Spark 2.1.0.

[2017-11-28 02:07] #37 closed

[2017-11-30 17:17] Vzzarr opened #38 "docker-compose scale spark-worker=3 & spark-submit"
according to this [tutorial](https://www.big-data-europe.eu/scalable-sparkhdfs-workbench-using-docker/) that you posted in the main README.md of this repository, I first followed the instructions provided in the README.md
`docker-compose up -d`
and it worked; but then when I try to use `docker-compose scale spark-worker=3` I receive the error:
`ERROR: for dockerhadoopsparkworkbench_spark-worker_2

[2017-12-02 00:58] antonkulaga opened #39 "command: ["./wait-for-it.sh"] for swarm mode"
As I understood from the issue tracker Docker team does not want to add depends_on support to the swarm. In such case it will make sense to add https://github.com/vishnubob/wait-for-it to check the datanode always starts after namenode

[2017-12-05 20:47] earthquakesan commented on #39
@antonkulaga that's indeed the case, I have injected wait-for-it script into [hadoop on this branch](https://github.com/big-data-europe/docker-hadoop/tree/2.0.0-hadoop2.7.4-java8). I will put an action to update docker-hadoop-spark-workbench, I have very clear idea on how to run it with swarm without issues. Check out this [distributed hbase setup](https://github.com/big-data-europe/docker-hbase/t

[2017-12-05 20:48] earthquakesan commented on #38
Hi @Vzzarr!

Thanks for pointing it out, I need to update the docs and provide an example setup for running Spark application with the workbench. Will update you when I am done.

[2017-12-05 20:49] earthquakesan opened #40 "Switch spark-notebook to apache zeppelin"

[2017-12-06 12:07] antonkulaga commented on #40
Why do you need this? Is not Spark-notebook better?

[2017-12-06 12:13] antonkulaga commented on #39
I do not see wait script there but I see SERVICE_PRECONDITION. How does it work? It does not look like docker-compose standard instruction. Have you also check that it works in swarm mode? (I see that some things in swarm mode are not supported but no warnings are shown)

[2017-12-06 13:05] earthquakesan commented on #39
@antonkulaga it's not standard docker thing, it's an ENV variable. entrypoint bash script is polling services from that variable. See entrypoint [here](https://github.com/big-data-europe/docker-hadoop/blob/2.0.0-hadoop2.7.4-java8/base/entrypoint.sh)

[2017-12-06 13:09] earthquakesan commented on #40
@antonkulaga at one point I had to use custom library with spark-notebook. I could not figure out how to add custom jar, so that it is exposed to the notebooks. In Apache Zeppelin it is straight forward.

Additional cons are:
* Apache project
* More than 1 maintainer

For Apache Zeppelin with custom lib, see an example [here](https://github.com/SANSA-Stack/SANSA-Notebooks/blob/develop/docker-compo

[2017-12-06 14:43] antonkulaga commented on #40
I dunnot, I had no issues with custom dependencies and I have a lot. I think adding dependencies is describe at https://github.com/spark-notebook/spark-notebook/blob/master/docs/metadata.md

[2017-12-09 23:30] earthquakesan commented on #40
@antonkulaga if you can share your experience, would be nice. My requirements for spark-notebook with custom dependencies were:
1. Inject dependencies via configuration (not from graphical UI)
2. Dependencies can come from both maven and as local jar files

Thanks a lot in advance!

[2017-12-10 00:35] antonkulaga commented on #40
@earthquakesan Regarding dependencies from different libs and repos, they are written just inside snpb files https://raw.githubusercontent.com/antonkulaga/bigdata-docker/master/notebooks/genome-searcher/genome-searcher-genome-searcher.snb.ipynb In particular:
[code]

If you want to include any dependencies that are not available in public repos, you can include them as volume. For instance, here (

[2017-12-10 12:20] earthquakesan commented on #40
@antonkulaga nice! Thanks for sharing your solution here!

[2017-12-15 15:52] tomer-ben-david opened #41 "Question: how can i run hdfs command line commands such as "hdfs dfs fs -ls""
Question please: how can i run hdfs command line commands such as `hdfs dfs fs -ls`?

[2017-12-18 11:45] earthquakesan commented on #41
Hi @tomer-ben-david!

you can find an example in this [Makefile](https://github.com/big-data-europe/docker-hadoop/blob/2.0.0-hadoop2.7.4-java8/Makefile).

[2017-12-24 08:33] cmantas opened #42 "Q: How can you scale out on multiple hosts?"
Hello.

This is a very useful setup -  well done.
Is it possible to scale out on multiple hosts, for a trully distributed cluster?

If yes, could you provide some info on how to do it?
I can write it up, if I figure it out,  in  step-by-step manner an add it in documentation on a PR if you'd like that.

[2017-12-26 08:06] earthquakesan commented on #42
Hi @cmantas,

I have assembled [HDFS+YARN+HBase setup for distributed cluster](https://github.com/big-data-europe/docker-hbase/tree/master/distributed). Here, only Spark needs to be modified to be able to deploy all the things on Docker Swarm.

P.S. It is on my TODO list as well.

[2017-12-26 08:54] cmantas commented on #42
Very nice @earthquakesan.
Not familiar with Dropbox, but I might try and fool around with it a bit and get back to you if it takes me anywhere.
Thnx and congrats on the project.

[2017-12-26 09:16] earthquakesan commented on #42
@cmantas, why Dropbox? I don't understand.

btw, I am on it atm, will push the setup today or tomorrow.

[2017-12-26 09:27] cmantas commented on #42
Sorry, I meant *Docker

[2017-12-26 11:53] earthquakesan commented on #42
@cmantas,

example setup can be found [here](https://github.com/big-data-europe/docker-hadoop-spark-workbench/tree/master/swarm). If you have any questions, feel free to open another issue.

[2017-12-26 11:53] #42 closed

[2017-12-26 11:53] #41 closed

[2017-12-26 11:54] #40 closed

[2017-12-26 11:54] #39 closed

[2017-12-26 11:55] earthquakesan commented on #38
@Vzzarr, new distributed setup is available [here](https://github.com/big-data-europe/docker-hadoop-spark-workbench/tree/master/swarm). If you have any questions, feel free to open an issue.

[2017-12-26 11:56] #38 closed

[2017-12-26 11:57] earthquakesan commented on #36
@Henrilin28 I suggest using Apache Zeppelin as Spark Notebooks can be quite difficult to handle sometime. See example setup [here](https://github.com/big-data-europe/docker-hadoop-spark-workbench/tree/master/swarm)

[2017-12-26 11:57] #36 closed

[2017-12-26 11:59] earthquakesan commented on #24
The best way to scale I found so far is behind traefik proxy, see example setup [here](https://github.com/big-data-europe/docker-hadoop-spark-workbench/tree/master/swarm)

[2017-12-26 11:59] #24 closed

[2017-12-29 15:46] antonkulaga opened #43 "links to any official mailing lists /chats/etc."
@earthquakesan is there any official gitter/googlegroup whatever to discuss workbench? At https://www.big-data-europe.eu I see only official email

[2017-12-29 18:35] earthquakesan commented on #43
@antonkulaga, no, we only have official mail. I've just created gitter:

https://gitter.im/big-data-europe/docker-hadoop-spark-workbench

[2017-12-29 18:35] #43 closed

[2017-12-31 11:16] tomer-ben-david opened #44 "Question: how to connect from external client (intellij) to spark?"
Hi, I tried looking at `http://localhost:8080` and saw that sparkmaster is at: `spark://26a6a4b99956:7077` i'm not sure i was doing the correct thing but i tried creating spark conf (in local intellij) with: `val conf = new SparkConf().setAppName("myapp").setMaster("spark://26a6a4b99956:7077")`

but when tried to run some spark code i get:

[code]

I tried playing with `network_mode: host` in the

[2018-01-02 09:25] earthquakesan commented on #44
Hi @tomer-ben-david!

in docker-compose.yml, you can find spark-master service:
[code]
spark-master publishes ports 8080 and 7077 to localhost, thus you can connect to spark from intellij as: spark://localhost:7077

[2018-01-02 09:25] #44 closed

[2018-01-02 10:15] tomer-ben-david commented on #44
Hi, thanks for answering, I tried this:

[code]
Then when I try

[code]

I get:

[code]

[2018-01-02 10:45] earthquakesan commented on #44
[code]
this error is caused by Spark version mismatch. You need either to modify Spark version in docker-compose, for that change the image tag (2.2.0 stands for spark version, for all available versions see [docker-spark](https://github.com/big-data-europe/docker-spark) repo):
[code]

Or modify your pom/build.sbt file to use Spark 2.1.0.

[2018-01-02 11:43] tomer-ben-david commented on #44
thanks, it resolved this issue! I'm having some other issues still with trying to run the job (looks like still something i'm doing basically wrong) will try to research it first.

[2018-01-04 17:04] C0mmander198 opened #45 "java.net.UnknownHostException: namenode"
Hi,
I'm running a scala spark job. I created a uber jar and used spark-submit to move it to the docker spark master:
`spark-submit --class "myclass" --master spark://localhost:7077 target/myjob-1.0-SNAPSHOT.jar`

It executes well, but when trying to write to HDFS I get the following error:

In the spark job I'm using this line to write to hdfs
`myrdd.saveAsTextFile("hdfs://namenode:8020/myfile")`

[2018-01-04 22:39] earthquakesan commented on #45
@C0mmander198, I have created an example on how to run [an uber jar with the workbench](https://github.com/big-data-europe/docker-hadoop-spark-workbench/tree/master/example).

Another possibility is to use [Spark templates](https://github.com/big-data-europe/docker-spark/tree/master/template/java).

Have fun! -)

[2018-01-04 22:39] #45 closed

[2018-01-12 09:15] #29 closed

[2018-01-23 13:33] Vzzarr opened #46 "org.apache.hadoop.hdfs.server.common.IncorrectVersionException"
Thanks for the reply to the previous [issue](https://github.com/big-data-europe/docker-hadoop-spark-workbench/issues/38)

I tried to execute the new [setup](https://github.com/big-data-europe/docker-hadoop-spark-workbench/tree/master/swarm) as you suggested me in the previous issue; according to the README.md, after executing `make hadoop` I'm facing with this problem:

after the command `sudo doc

[2018-01-24 11:51] earthquakesan commented on #46
Hi @Vzzarr !

Incompatible versions of HDFS means that you have started HDFS previously with different version. Now, you are trying to start HDFS with superior version and it fails. I.e. it happens when you do:
1. start docker-compose with Hadoop 1.0.0 (for example)
2. change docker-compose to Hadoop 2.7.4
Here is the point: the volumes created on step 1 will remain on your machine. Thus:
3. Incor

[2018-01-25 10:33] Vzzarr commented on #46
OK thanks for your answer, indeed I removed the images using "different approaches", but I think that `docker rmi bde2020/hadoop-datanode:1.1.0-hadoop2.8-java8` worked for me. After that I re-pulled the image from your docker-hub and the issue disappeared.

[2018-01-25 10:33] #46 closed

[2018-01-25 23:14] antonkulaga opened #47 "GlusterFS?"
What do you think about adding glusterfs as an alternative file system in swarm stack?
Dealing with HDFS is a lot of pain and namenode is a single point of failure (it also has its data in local volume, so it should always be replicated in a same node)...

[2018-01-26 12:18] earthquakesan commented on #47
@antonkulaga did you try running secondary namenode or that also got its' problems?

[2018-02-02 12:44] Vzzarr opened #48 "Spark Worker not connected to Spark Master"
I'm sorry for opening so many issues...

But I am using the swarm version of HDFS and Spark, in particular I think it is a version of few weeks ago. This is the docker-compose-spark.yml file:

[code]
and how you can see there are some personal modifies to your original file, because of implementation necessity.

In particular I am using two Azure VM for testing, where one is the Swarm Master and t

[2018-02-05 11:19] earthquakesan commented on #48
Hi @Vzzarr!

I suppose you have docker swarm running and deploy the setup with something similar to:
[code]

Did you create overlay network as follows?
[code]

Check if overlay network works (e.g. create two containers on different nodes and ping each other).

What is written in spark-master, worker logs? (docker service logs ...)

[2018-02-05 16:59] radianv opened #49 "Job aborted due to stage failure while reading a simple Text File from HDFS"
### I working with spark notebooks, regarding to [Scalable Spark/HDFS Workbench using Docker](https://www.big-data-europe.eu/scalable-sparkhdfs-workbench-using-docker/)

`val textFile = sc.textFile("/user/root/vannbehandlingsanlegg.csv")`

`textFile:` org.apache.spark.rdd.RDD[String] = /user/root/vannbehandlingsanlegg.csv MapPartitionsRDD[1] at textFile at `<console>:67`

### It will show the exec

[2018-02-05 17:09] radianv commented on #49
As an additional information, I had done the same test connecting directly to spark-master container and it work well:

`scala> val textFile = sc.textFile("/user/root/vannbehandlingsanlegg.csv")
textFile: org.apache.spark.rdd.RDD[String] = /user/root/vannbehandlingsanlegg.csv MapPartitionsRDD[1] at textFile at <console>:24

scala> textFile.count
res4: Long = 4385`

Probably the issue is in spark n

[2018-02-07 10:50] Vzzarr commented on #48
Thank you very much for your reply, indeed inspecting the Spark Worker with `sudo docker service logs -f spark_spark-worker` I noticed an error.
Googling this error I found [this](https://stackoverflow.com/questions/47529654/java-job-failed-to-connect-to-standalone-local-master?rq=1) solution on Stack Overflow: using the docker-compose-spark.yml in some way the Spark Master and Spark Worker had a

[2018-02-07 10:50] #48 closed

[2018-02-27 12:51] smrazaabbas opened #50 "Global Values not found"
Hi,
I have setup Spark master, worker nodes via docker in this repo.
Upon running the sample code, or any code for that matter, Spark notebook throws the following error:

error: not found: value globalScope
error: not found: value SparkSession

[2018-03-01 20:30] earthquakesan commented on #50
Hi,

I have switched from spark-notebook to Apache Zeppelin. There is more discussion here: https://github.com/big-data-europe/docker-hadoop-spark-workbench/issues/40 (also pointers for working setup with spark-notebook).

[2018-03-06 12:09] lokinell opened #51 "There are 1 datanode(s) running and 1 node(s) are excluded in this operation"
Hi,
when I try to write parquet file into HDFS, I have below issue:

File /data_set/hello/crm_last_month/2534cb7a-fc07-401e-bdd3-2299e7e657ea.parquet could only be replicated to 0 nodes instead of minReplication (=1).  There are 1 datanode(s) running and 1 node(s) are excluded in this operation.
        at org.apache.hadoop.hdfs.server.blockmanagement.BlockManager.chooseTarget4NewBlock(BlockManage

[2018-03-14 08:49] smrazaabbas commented on #50
Great. Thanks, I'll look into it.

[2018-03-14 08:49] #50 closed

[2018-03-14 13:22] earthquakesan commented on #51
@lokinell hi!

Can you check logs of datanode/namenode and copy paste it here.

How to check logs:
docker ps
--> copy container id for your namenode/datanode
docker logs -f containerid

Most likely there is a problem with datanode startup, and it has not been registered with namenode.

[2018-03-14 13:23] earthquakesan commented on #49
Hi @radianv,

sorry for late reply, I had a lot of issues with spark notebook and has switched to Apache Zeppelin in the end. The issue you had is most likely version mismatch of Spark between spark notebook and Spark Master.

[2018-04-03 11:12] kkalugerov opened #52 "Faile to connect to namenode:8020"
I used this report to pick up a swarm cluster and modified the Makefile in main directory as follow ->

get-example:
	if [ ! -f example/SparkWriteApplication.jar ]; then \
	wget -O example/SparkWriteApplication.jar https://www.dropbox.com/s/7dn0horm8ocbu0p/SparkWriteApplication.jar ; \
	fi

example: get-example
	docker run --rm -it --network workbench --env-file ./swarm/hadoop.env -e SPARK_MASTER=

[2018-04-06 11:54] earthquakesan commented on #52
Hi!

The application from the root Makefile is not for swarm. To test it, run one of the provided examples from spark distro.

Also, what I can see from the execution [namenode exposes port 9000 by default](https://github.com/big-data-europe/docker-hadoop-spark-workbench/blob/master/swarm/hadoop.env). Did you change the port?

[2018-05-01 19:23] haydenliu opened #53 "Great repo! But how can we use Pyspark?"
The notebook currently available is scala? If I understand correctly. How can we use Pyspark?

[2018-05-03 10:08] Lehis opened #54 "How to add a file from local file system?"
I tried
docker exec -it namenode hadoop fs -put README.md /tmp/README.md
and get
put: `README.md': No such file or directory

[2018-05-03 13:17] earthquakesan commented on #53
HI @haydenliu! PySpark is not supported by these images atm. The spark images has to be extended with installation of python, then it will be possible to use PySpark.

[2018-05-11 08:54] Atahualkpa opened #55 "incompatible clusterID Hadoop"
incompatible clusterID Hadoop

Hi,
anytime I rebooted the swarm I have this problem

	at org.apache.hadoop.hdfs.server.datanode.DataStorage.doTransition(DataStorage.java:777)

java.io.IOException: All specified directories are failed to load.
	at org.apache.hadoop.hdfs.server.datanode.DataStorage.recoverTransitionRead(DataStorage.java:574)

I solved this problem deleting this docker volume

`[

[2018-05-23 12:26] Atahualkpa commented on #55
Hi @earthquakesan thanks for your answer,
I have this setup for docker compose:
[code]
but I observe I have not set a path for hdfs. I try to set a local path but the problem is still present.
i checked the path and I find this file called VERSION into a directory  named current. This is written into file:

clusterID=CID-4a2c4782-785b-4b8c-be8f-e0d7cef85b24
cTime=0
datanodeUuid=48dc924c-fea1-40d8-

[2018-05-23 13:42] Atahualkpa commented on #55
Now I have three nodes into the swarm into the leader are running 6 containers their are:
* bde2020/hadoop-namenode:2.0.0-hadoop2.7.4-java8
* bde2020/hadoop-datanode:2.0.0-hadoop2.7.4-java8
* atahualpa/spark-master:4.1.2(this container contains bde2020/spark-master:2.2.0-hadoop2.8-hive-java8 where I installed GATK 4)
* bde2020/spark-worker:2.2.0-hadoop2.8-hive-java8
* traefik:v1.1.0

and into the

[2018-08-07 03:17] dolenam317 opened #56 "Why HDFS run without YARN ?"
Could you please explain why HDFS is run without YARN because I think YARN is necessary for scheduling Spark jobs ?

Thanks,

[2018-08-08 11:01] earthquakesan commented on #56
@dolenam317, Spark is running in standalone mode in the setup provided in this repo. YARN is not necessary in this case.

[2018-08-08 11:01] #56 closed

[2018-08-19 18:20] gsumar opened #57 "error in spark notebook"
`
print ("user")
`

I got the error below
`
<console>:12: error: not found: value globalScope
       globalScope.sparkContext.setJobGroup("cell-A0F42CF740B04DD287456255B6E4528E", "run-1534702622531: print ('user')")
`

[2018-08-30 08:51] shicanLeft commented on #51
请问最后怎么解决的

[2018-09-04 15:46] earthquakesan commented on #51
@shicanLeft if you have the same problem, please share the logs from your namenode/datanode

[2018-09-12 01:17] veerapatyok opened #58 "spark cannot read file in hadoop in overlay network(swarm mode)"
i have
namenode(10.0.5.x) in machine-1
spark master(10.0.5.x) in machine-1
network-endpoint(10.0.5.3) in machine-2
spark worker(10.0.5.x) in machine-2
datanode(10.0.5.x) in machine-2

I create swarm with spark(gettyimage) with your hadoop and I cannot read data in hadoop, I read log in worker and it say `Failed to connect to /10.0.5.3:50010 for block BP-1439091006-10.0.5.76-1536712157279:blk_10737

[2018-10-10 12:28] zenglian commented on #51
In my case, adding below to hdfs-site.xml at client side resolved the same error,  https://stackoverflow.com/questions/36015864/hadoop-be-replicated-to-0-nodes-instead-of-minreplication-1-there-are-1/52740260#52740260
[code]

[2018-10-12 09:08] dogourd commented on #51
@earthquakesan
I have the same problem,
Below is my namenode log

125 2018-10-12 17:00:19,363 INFO org.apache.hadoop.hdfs.server.blockmanagement.CacheReplicationMonitor: Rescanning after 30008 milliseconds
126 2018-10-12 17:00:19,363 INFO org.apache.hadoop.hdfs.server.blockmanagement.CacheReplicationMonitor: Scanned 0 directive(s) and 0 block(s) in 0 millisecond(s).
127 2018-10-12 17:00:32,733 INF

[2018-11-22 20:26] gotthardsen commented on #51
I have a strange problem pretty much like describe above.

When I use Hue I can upload files (as long as they are below 64MB), but when I use HDFS from outside in, it fails.
**HUE**
20170924.csv is uploaded using Hue filebrowser and works fine
20170926.csv is uploaded from my PC using hdfs dfs -put and does not work
There logs are here:
18/11/22 19:46:58 INFO namenode.FSEditLog: Number of transact

[2018-11-26 07:22] kuchksara commented on #51
check your docker version. in version 18.03 everything is ok. i had the same problem with docker 18.06 and after downgrading to 18.03 the problem was solved.

[2018-11-26 09:57] gotthardsen commented on #51
Mine was 18.09, but I downgrade to 18.03 likes suggested. Unfortunately I get the same result as described above.

I might need to clarify that I'm running windows and have a Hyper-V VM running Ubuntu 18.04 Server, and on this I run docker with this projects docker-compose.yml. On my Windows I have hadoop downloaded (not running) to get to do hadoop fs -copyFromLocal into the VM IP:8020.
I have mo

[2019-01-03 10:43] mokundong opened #60 "can not open Spark-notebook: http://localhost:9001"

[2019-01-03 10:44] mokundong commented on #60
ERR_CONNECTION_REFUSED

[2019-04-03 06:30] dh12306 opened #62 "pyspark"

[2019-04-03 06:30] #62 closed, assigned to nobody

[2019-04-03 06:33] dh12306 opened #63 "java.lang.IllegalArgumentException: java.net.UnknownHostException: namenode"
when i cloned this project , i run ' start-hadoop-spark-workbench-with-Hive.sh' ,
then there are some CONTAINERs running, but when i  'docker exec -it  spark-master /bin/bash' ,
and cd spark/bin , then run spark-shell , some thing happened:
this is my cmd:

scala> val textFile = sc.textFile("/spark/bin/words.txt")
textFile: org.apache.spark.rdd.RDD[String] = /spark/bin/words.txt MapPartitionsRDD[3

[2019-04-03 06:37] dh12306 commented on #63
![image](https://user-images.githubusercontent.com/20471681/55457914-fcfd2680-561d-11e9-9d83-684b0fba52b2.png)

this is my docker ps results

[2019-05-01 07:23] OneCricketeer commented on #63
I think you need to use the correct compose file

`docker-compose -f docker-compose-hive.yml -exec...`

In any case, I do not see any services named namenode in your output there, so that might explain the error

[2019-05-14 16:07] mokundong commented on #53
if support pyspark will be perfect

[2019-07-29 18:15] aleksandarskrbic opened #64 "How to read data into Spark from HDFS?"
I copied files from local filesystem to namenode container and then copy it to hdfs on "/user/root/data" path. Now, i have a problem to load data from hdfs into local spark application
`spark.read.format("json").load("hdfs://127.0.1.1:50070/user/root/data/file_name.json")`.
Problem is url to data i tried hdfs://127.0.1.1:50070, hdfs://localhost:50070, hdfs://namenode:50070, hdfs://namenode:8020 an

[2019-08-26 14:04] sept44 commented on #51
i think this problem is caused by the fact that datanode is not started an permissions, you can start from these two aspects. i meet this problem not in the docker environment, but i solved it from these two directions

[2019-09-27 09:29] wdorninger opened #65 "Directory /hadoop/dfs/name is in an inconsistent state: storage directory does not exist or is not accessible."
Problem - see stacktrace below

My solution for now: Changed the docker-compose.yml file and added "priviledged: true" setting to the nodes configured there

namenode          | org.apache.hadoop.hdfs.server.common.InconsistentFSStateException: Directory /hadoop/dfs/name is in an inconsistent state: storage directory does not exist or is not accessible.
namenode          | 	at org.apache.hadoop.hd

[2019-11-15 14:59] jakobhviid commented on #64
Just randomly found this thread. Try hdfs://namenode:9000/myfolder/file.csv.

Accessing HDFS is not done via the same port as the web administration.

[2019-12-09 11:53] alxdembo opened #66 "swarm makefile traefik:1.7 syntax"
In makefile traefik version is not specified, and the syntax is incompatible with the current version (2)

[2020-04-19 11:40] MahsaSeifikar commented on #49
I have the same issue! Any solution?

[2020-04-21 16:23] SuperElectron commented on #49
This is also an error inside spark-master container for
`val textFile = sc.textFile("/user/root/vannbehandlingsanlegg.csv")`.

From the adundance of errors in the issues related to HDFS and nodes/workers it seems like something in configuration is definately missing.

It is also worth noting that the walk-through blog steps do not work: https://www.big-data-europe.eu/scalable-sparkhdfs-workbench-u

[2020-04-21 16:24] SuperElectron commented on #58
active?

[2020-05-20 12:36] hans153 commented on #58
same problem. I've decided to deploy hdfs cluster without docker.

[2020-05-25 10:57] beber89 commented on #49
I can not even open the scala shell inside the container , I don't find it anywhere !! 🙁

[2020-07-05 08:06] omarelnahas23 opened #67 "beeline"
How to start beeline in the container hive-server

[2020-07-29 10:00] ZosBHAI opened #68 "Unable to query the hive table in container from spark-shell running in Windows"
I was able to start the hive server and metastore service using this project(bde2020/hive)
  in windows machine.  And Spark shell which is running in Windows is able to connect this Hive metastore and display the hive tables.
`spark.sharedState.externalCatalog.listTables("default")`

I was unable to  display the  hive table content using` spark.table("demo_sales97").show` , due to  **Caused by: ja

[2021-02-20 16:21] marcosfpr commented on #51
How did you solve it in the end? I have the same problem.

[2021-05-20 03:24] pursue-wind commented on #51
How did you solve it in the end? I have the same problem.
[code]

[2021-06-25 14:56] geekyouth opened #70 "java.lang.NumberFormatException: For input string: "tcp://10.153.3.65:8080""
![image](https://user-images.githubusercontent.com/12899262/123443434-7a028500-d608-11eb-86d1-23cf6b3c33bf.png)

[code]

[2021-06-26 02:01] geekyouth opened #71 "NoReverseMatch: u'about' is not a registered namespace"
![image](https://user-images.githubusercontent.com/12899262/123498921-794c0c00-d665-11eb-9577-a0f7d5fc90e0.png)

[code]

[2021-06-26 02:52] #71 closed, assigned to nobody

[2021-12-09 09:45] nguacon90 opened #72 "TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources"
I try do simple application with scala spark as follow:
[code]

However spark job still running and show warning message:
`WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources`
and not write hdfs file.
Anyone can help to resolve the problem?

[2022-02-27 03:15] ycli12 commented on #14
I occurred with this isssue and found that it is really out of resources.
Solution：
1、Increase machine cores or memory
2、decrease resource requirements when you submit application like below
bin/run-example –executor-memory 2g –num-executors 1 –executor-cores 1 GroupByTest 3 4 100 2
Soulution2 is more practical in most cases.

[2022-04-01 16:09] shivanshkaushikk commented on #51
any updates on this?

[2022-04-29 21:53] mohocp commented on #51
any updates on this?

[2022-08-05 09:19] cristianoKaKa commented on #51
The reason of this exception is that **client** cannot **connect** to the **DATANODE**
so u need to modify two things:
1. **docker-compose.yml**
2. **/etc/hosts**

First, in docker-compose.yml, specify hostnames and ports for both for datanode and namenode, like this:

[code]

the port 50010 and 50020 are used for datanode to communicate, while the 8020 for namenode is used for namenode to communi